<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="lidar_sensor" params="parent xyz rpy">

    <link name="laser_frame">
      <visual>
        <geometry>
          <cylinder length="0.016" radius="0.030" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="red" />
      </visual>

      <collision>
        <geometry>
          <cylinder length="0.016" radius="0.030" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.1"/>
        <inertia
          ixx="1e-5" ixy="0.0" ixz="0.0"
          iyy="1e-5" iyz="0.0"
          izz="1e-5"/>
      </inertial>
    </link>

    <joint name="laser_joint" type="fixed">
      <parent link="${parent}" />
      <child link="laser_frame" />
      <origin xyz="${xyz}" rpy="${rpy}" />
    </joint>

    <gazebo reference="laser_frame">
      <sensor name="rplidar" type="ray">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <min_angle>-1.57</min_angle>
              <max_angle>1.57</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.3</min>
            <max>20.0</max>
          </range>
        </ray>
        <plugin name="gazebo_ros_ray_sensor" filename="libignition-gazebo-ros-ray-system.so">
          <topic>/scan</topic>
          <frame_name>laser_frame</frame_name>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
