<?xml version="1.0"?>
<robot name="caramelo" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Fricção nas rodas Mecanum -->
  <gazebo reference="front_left_wheel">
    <mu1>1000000.0</mu1>
    <mu2>1000000.0</mu2>
    <kp>1000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="front_right_wheel">
    <mu1>1000000.0</mu1>
    <mu2>1000000.0</mu2>
    <kp>1000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="rear_left_wheel">
    <mu1>1000000.0</mu1>
    <mu2>1000000.0</mu2>
    <kp>1000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <gazebo reference="rear_right_wheel">
    <mu1>1000000.0</mu1>
    <mu2>1000000.0</mu2>
    <kp>1000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
  </gazebo>

  <!-- Plugin ROS 2 Control Gazebo -->
  <gazebo>
    <!-- ROS 2 Humble -->
    <xacro:if value="$(arg is_ignition)">
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find caramelo_controller)/config/robot_controllers.yaml</parameters>
      </plugin>
    </xacro:if>

    <!-- ROS 2 Iron ou superior -->
    <xacro:unless value="$(arg is_ignition)">
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find caramelo_controller)/config/robot_controllers.yaml</parameters>
      </plugin>
    </xacro:unless>
  </gazebo>

</robot>
