<?xml version="1.0"?>
<robot name="caramelo" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Propriedades -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <!-- Argumentos -->
  <xacro:arg name="robot_name" default="caramelo"/>
  <xacro:arg name="prefix" default=""/>

  <!-- Argumento para Gazebo Ignition ou Gazebo Classic -->
  <xacro:arg name="is_ignition" default="true"/>

  <!-- Inclusões -->
  <xacro:include filename="$(find caramelo_description)/URDF/robot_base.xacro" />
  <xacro:include filename="$(find caramelo_description)/URDF/robot_mecanum_wheel.xacro" />
  <xacro:include filename="$(find caramelo_description)/URDF/lidar_sensor.xacro" />
  <xacro:include filename="$(find caramelo_description)/URDF/robot_ros2_control.xacro" />

  <!-- base_footprint -->
  <link name="base_footprint"/>

  <!-- Base -->
  <xacro:robot_base parent="base_footprint"/>

  <!-- Rodas mecanum -->
  <xacro:mecanum_wheel
    prefix="$(arg prefix)"
    side="front_left"
    x_reflect="1"
    y_reflect="1"/>

  <xacro:mecanum_wheel
    prefix="$(arg prefix)"
    side="front_right"
    x_reflect="1"
    y_reflect="-1"/>

  <xacro:mecanum_wheel
    prefix="$(arg prefix)"
    side="back_left"
    x_reflect="-1"
    y_reflect="1"/>

  <xacro:mecanum_wheel
    prefix="$(arg prefix)"
    side="back_right"
    x_reflect="-1"
    y_reflect="-1"/>

  <!-- LiDAR (ajustado para as dimensões do YouBot) -->
  <xacro:lidar_sensor parent="base_link" xyz="0.292 0.0 0.077" rpy="0 0 0"/>

</robot>
